
#map {
	padding: 10px;
	width: 60vw;
	max-width: 60vw;
	height: 500px;
	max-height: 60vw;
}

.main {
	margin: auto;
	width: 60vw;
	max-width: 60vw;
	height: 60vh;
	max-height: 60vh;
}

h1 {
	text-align: center;
}

footer {
	padding: 10px;
	text-align: center;
}

